<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
       					http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="true">

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="casRealm" />	
			</list>
		</property>
	</bean>

	<bean id="casRealm" class="com.sun.wen.lou.newtec.shiro.UucCenterRealm">
		<property name="casServerUrlPrefix" value="${cas.prefix.url}" />
		<!-- 客户端的回调地址设置，必须和下面的shiro-cas过滤器拦截的地址一致-->
		<property name="casService" value="${cas.service.url}" /> 
		<property name="securityUsersFinder" ref="securityUsersFinder" />
	</bean>

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="loginUrl"
			value="${login.url}"/>
		<property name="securityManager" ref="securityManager" />
		<property name="successUrl" value="/main/index" />
		<property name="unauthorizedUrl" value="/main/noperms" />
	 	<property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource" />
		<property name="filters">
			<map>
				<!-- 添加casFilter到shiroFilter -->
				 <entry key="quit" value-ref="singleSignOutFilter" />
				<entry key="casFilter" value-ref="casFilter" />
			</map>
		</property>
	</bean>
	<bean id="chainDefinitionSectionMetaSource"
		class="com.sun.wen.lou.newtec.shiro.ChainDefinitionSectionMetaSource">
		<property name="securityUsersFinder" ref="securityUsersFinder" />
		<property name="filterChainDefinitions">
			<value>
				/error.jsp=anon
				/favicon.ico=anon
				/menu/getMenusAll=anon
				/robots.txt=anon
				/shiro-cas=quit,casFilter
				<!-- /**=sso,authc /WEB-INF/views/index.jsp=anon /static/**=anon /login=anon 
					/logout=anon /main=user /unauthorized=user /**=authc -->
			</value>
		</property>
	</bean>
	<bean id="securityUsersFinder" class="com.sun.wen.lou.newtec.shiro.SecurityUsersFinder">
	</bean>
	<bean id="casFilter" class="org.apache.shiro.cas.CasFilter">
		<!-- 配置验证错误时的失败页面 -->
		<property name="failureUrl" value="/error.jsp" />
	</bean>
	<bean id="singleSignOutFilter"
		class="org.jasig.cas.client.session.SingleSignOutFilter">
	</bean>
	

	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- AOP式方法级权限检查 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>

	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

</beans>